<mat-toolbar>
  <button mat-icon-button class="example-icon" (click)="drawer.toggle()"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Insight Engine</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="menu-wrap">
      <button class="menu-option" mat-button routerLink="/agents">Agents</button>
      <button class="menu-option" mat-button routerLink="/data-sources">Data Sources</button>
      <button class="menu-option" mat-button routerLink="/connections">Connections</button>
    </div>
    <div class="menu-footer">
      <button class="menu-option" mat-button routerLink="/user">User Profile</button>
    </div>
  </mat-drawer>

  <router-outlet>

  </router-outlet>
</mat-drawer-container>
